@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(90, 90, 180, 0.05);
}
* {
  /* outline: 1px solid red; */
  box-sizing: border-box;
}
.animate-fade {
  animation: animate-fade 0.15s linear;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.active {
  color: rgb(13, 133, 232);
}
